@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #eee;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.divTitle {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #354b9a;
  padding: 8em;
  display: flex;
  justify-content: center;
  gap: 5em;
  align-items: center;
  flex-wrap: wrap;
}

.divTitleDivider {
  background-color: #868bc3;
  height: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
